<div class="body">
  <div class="login">
    <h1 class="h3 mb-3 fw-normal">Registro</h1>
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Email</mat-label>
        <input type="email" matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"
               placeholder="Ex. pat@example.com">
        <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
          Por favor ingrese una direccion de email valida
        </mat-error>
        <mat-error *ngIf="emailFormControl.hasError('required')">
          Email es <strong>obligatorio</strong>
        </mat-error>
      </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label for="pass">Contraseña</mat-label>
      <input matInput [type]="showPassword ? 'text' : 'password'" name="password" required>
      <mat-icon matSuffix (click)="togglePasswordVisibility()">
          {{showPassword?'visibility_off':'visibility'}}
      </mat-icon>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label for="pass">Repetir Contraseña</mat-label>
      <input matInput [type]="showPassword ? 'text' : 'password'" name="password" required>
      <mat-icon matSuffix (click)="togglePasswordVisibility()">
          {{showPassword?'visibility_off':'visibility'}}
      </mat-icon>
    </mat-form-field>

    <br />
    <button
      class="ancho"
      mat-raised-button
      mat-button
      color="primary"
      (click)="goToLogin()"
    >
      Entrar
    </button>
  </div>
</div>
